/.idea/.idea.TicTacToe2/.idea/.gitignore
/TicTacToe2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/TicTacToe2/obj/Debug/net5.0/apphost.exe
/.idea/.idea.TicTacToe2/.idea/encodings.xml
/.idea/.idea.TicTacToe2/.idea/indexLayout.xml
/TicTacToe2/obj/project.assets.json
/TicTacToe2/obj/project.nuget.cache
/TicTacToe2/obj/project.packagespec.json
/TicTacToe2/obj/rider.project.restore.info
/.idea/.idea.TicTacToe2/.idea/riderModule.iml
/TicTacToe2/obj/Debug/net5.0/TicTacToe2.AssemblyInfo.cs
/TicTacToe2/obj/Debug/net5.0/TicTacToe2.AssemblyInfoInputs.cache
/TicTacToe2/obj/Debug/net5.0/TicTacToe2.assets.cache
/TicTacToe2/obj/Debug/net5.0/TicTacToe2.csproj.CoreCompileInputs.cache
/TicTacToe2/obj/Debug/net5.0/TicTacToe2.csproj.FileListAbsolute.txt
/TicTacToe2/obj/TicTacToe2.csproj.nuget.dgspec.json
/TicTacToe2/obj/TicTacToe2.csproj.nuget.g.props
/TicTacToe2/obj/TicTacToe2.csproj.nuget.g.targets
/TicTacToe2/obj/Debug/net5.0/TicTacToe2.csprojAssemblyReference.cache
/TicTacToe2/bin/Debug/net5.0/TicTacToe2.deps.json
/TicTacToe2/bin/Debug/net5.0/ref/TicTacToe2.dll
/TicTacToe2/bin/Debug/net5.0/TicTacToe2.dll
/TicTacToe2/obj/Debug/net5.0/ref/TicTacToe2.dll
/TicTacToe2/obj/Debug/net5.0/TicTacToe2.dll
/TicTacToe2/bin/Debug/net5.0/TicTacToe2.exe
/TicTacToe2/obj/Debug/net5.0/TicTacToe2.GeneratedMSBuildEditorConfig.editorconfig
/TicTacToe2/obj/Debug/net5.0/TicTacToe2.genruntimeconfig.cache
/TicTacToe2/bin/Debug/net5.0/TicTacToe2.pdb
/TicTacToe2/obj/Debug/net5.0/TicTacToe2.pdb
/TicTacToe2/bin/Debug/net5.0/TicTacToe2.runtimeconfig.dev.json
/TicTacToe2/bin/Debug/net5.0/TicTacToe2.runtimeconfig.json
/.idea/.idea.TicTacToe2/.idea/vcs.xml
